/* planet */

.planetstyle {
  position: relative;
}
.planet_wrap {
  position: absolute;
  width: 70%;
  height: 70%;
  overflow: hidden;
  border-radius: 50%;
  background: #173c57;
  border: 10px solid white;
  z-index: 2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.planet {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: radial-gradient(
    ellipse at center,
    #70dec1 0%,
    #70dec1 30%,
    #7db9e8 100%
  );
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: planet-pulse 5s infinite linear;
}

.sub-planet {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #aee69b 1%, #498da4 50%, #0a404a 100%);
  position: absolute;
  top: 25%;
  left: 70%;
}

.wave {
  position: absolute;
  bottom: 0;
  transform: scale(2);
  z-index: 10;
}
.wave.wave-1 {
  left: 60px;
  bottom: 106px;
  z-index: 11;
}
.wave.wave-2 {
  left: -61px;
  bottom: 78px;
  z-index: 12;
}
.wave.wave-3 {
  left: 100px;
  bottom: 54px;
  z-index: 13;
}
.wave.wave-4 {
  left: 40px;
  bottom: 29px;
  z-index: 14;
}
.wave.wave-5 {
  left: -71px;
  bottom: 2px;
  z-index: 15;
}

.orbit {
  width: 1px;
  height: 1px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.02),
    0 0 0 10px rgba(255, 255, 255, 0.05);
}

.wave-1 {
  animation: wave 2s 1s ease-out infinite;
}

.wave-2 {
  animation: wave 2s 2s ease-out infinite;
}

.wave-3 {
  animation: wave 2s 3s ease-out infinite;
}

.wave-4 {
  animation: wave 2s 4s ease-out infinite;
}

.wave-5 {
  animation: wave 2s 5s ease-out infinite;
}

.orbit-1 {
  animation: orbit-1 10s linear infinite;
}

@keyframes orbit-1 {
  from {
    transform: rotate(0deg) translateX(115px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(115px) rotate(-360deg);
  }
}

.orbit-2 {
  animation: orbit-2 20s linear infinite;
}

@keyframes orbit-2 {
  from {
    transform: rotate(0deg) translateX(130px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(130px) rotate(-360deg);
  }
}

.orbit-3 {
  animation: orbit-3 30s linear infinite;
}

@keyframes orbit-3 {
  from {
    transform: rotate(0deg) translateX(145px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(145px) rotate(-360deg);
  }
}

@keyframes wave {
  0% {
    transform: translate(0, 0) scale(2);
  }
  50% {
    transform: translate(10px, 10px) scale(2);
  }
  100% {
    transform: translate(0, 0) scale(2);
  }
}

@keyframes anim {
  from {
    transform: rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

.star {
  z-index: 50;
  position: absolute;
  left: 0;
  top: 50px;
  width: 1px;
  height: 1px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.02),
    0 0 0 10px rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  background-color: white;
  animation: shooting 5s linear infinite;
}
.star:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  right: 1px;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

.star-2 {
  top: 100px;
  left: -100px;
  animation: shooting 8s 1s linear infinite;
}

.star-3 {
  top: 250px;
  left: -250px;
  animation: shooting 3s 2s linear infinite;
}

.star-4 {
  top: 50px;
  left: -50px;
  animation: shooting 3s 2s linear infinite;
}

.star-5 {
  top: 150px;
  left: -150px;
  animation: shooting 3s 2s linear infinite;
}

@keyframes shooting {
  0% {
    transform: translate(-100px, -100px) rotate(45deg) scale(1);
  }
  100% {
    transform: translate(calc(100% + 300px), calc(100% + 300px)) rotate(45deg)
      scale(1.5);
  }
}

@keyframes planet-pulse {
  0% {
    box-shadow: 0 0 0 15px rgba(112, 191, 188, 0.1),
      0 0 0 30px rgba(112, 191, 188, 0.1), 0 0 0 45px rgba(112, 191, 188, 0.1);
  }
  50% {
    box-shadow: 0 0 0 30px rgba(112, 191, 188, 0.1),
      0 0 0 45px rgba(112, 191, 188, 0.1), 0 0 0 60px rgba(112, 191, 188, 0.1);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(112, 191, 188, 0.1),
      0 0 0 30px rgba(112, 191, 188, 0.1), 0 0 0 45px rgba(112, 191, 188, 0.1);
  }
}
